{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome on my car homepage.
    </p>
{% endblock %}